@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul_escuro: #302B6F;
    --azul: #5463AB;
    --azul_claro: #7680E0;
    --amarelo_claro: #FCAC3C;
    --amarelo: #E88904;
    --laranja: #D64D0B;

    --sombra: 0px 7px 13px 1px rgba(0,0,0,0.1);
}

html {
  scroll-behavior: smooth;
}

body {
    
    margin-inline: 80px;
    padding: 0;
    font-family: "DynaPuff", system-ui;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: url("../imagens/teste_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(7px);
  z-index: -1;
}

button {
    font-family: "DynaPuff", system-ui;
}

/*
    CLASSES REUTILIZAVEIS
*/

.dividir {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.foto_temp {
    width: 40px;
    height: 40px;
    background-color: var(--amarelo_claro);
    border-radius: 100%;
    text-align: center;
}

/*
    HEADER E FOOTER
*/

header, footer {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding-inline: 10px;
    margin-top:30px;
    -webkit-box-shadow: var(--sombra);
    box-shadow: var(--sombra);
}

header section, nav {
    display: flex;
    align-items: center;
    color: black;
}

header section img {
    width: 70px;
    margin-right: 5px;
}

header nav button {
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 7px;
    margin-inline: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

header nav button:hover {
    background-color: rgb(245, 245, 245);
}

footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    padding-inline: 25px;
}

footer section a {
    text-decoration: none;
    color: var(--azul_escuro);
    transition: 0.5s;
}

footer section a:hover {
    color: var(--azul_claro);
}

/*
    Slogan
*/

#slogan {
    display: flex;
    flex-direction: column;
    width: full;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-block: 50px;
}

#slogan h2 {
    margin: 10px;
    padding: 0;
    font-size: 40px;
    color: var(--amarelo);
    -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#slogan p {
    margin: 0;
    padding: 0;
    color: var(--azul);
    font-size: 20px;
    word-break: break-word;
    width: 30%;
    text-align: center;
}

/*
    Carrossel
*/

#carrossel {
    display: flex;
    flex-direction: column;
    width: full;
    justify-content: center;
    align-items: center;
    margin-block: 50px;
}

#carrossel h2 {
    color: var(--azul);
    font-size: 40px;
    margin: 0;
}

#carrossel ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#carrossel li {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: var(--amarelo_claro);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 20px;
    -webkit-box-shadow: var(--sombra);
    box-shadow: var(--sombra);
    margin-top: 60px;
}

#carrossel h3 {
   font-size: 20px;    
   font-weight: normal;
}

#carrossel p {
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--azul);
    color:white;
    text-align: center;
    justify-self: center;
    position: absolute;
    top: -55px;
    font-size: 25px;
}

/*
    Aprendizado
*/

#aprendizado {
    background-color: var(--azul);
    border-radius: 20px;
    margin-bottom: 50px;
    padding-inline: 40px;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    -webkit-box-shadow: var(--sombra);
    box-shadow: var(--sombra);
}

#aprendizado h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#aprendizado section section{
    width: 50%;
}

#aprendizado section section h3{
    padding: 0;
    margin: 0;
    font-size:25px;
}

#aprendizado section section p{
    padding: 0;
    margin-bottom: 25px;
}

#aprendizado section section button{
    text-decoration: none;
    color: white;
    background-color: var(--amarelo);
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#aprendizado section section button:hover{
    background-color: var(--amarelo_claro);
}



